# Import packages

In [1]:
import pandas as pd
import glob
import json
import os

# Create list of Dataframes from files in local folder

In [2]:
# get current folder with os
os.getcwd()

'D:\\FORMATION_OPENCLASSROOMS\\2_PROJETS\\P8_DeRosa_Sebastien'

In [3]:
# testing unix style paths
files = glob.glob('./Output_S3/*.csv')

In [4]:
df_list = {}
for i in range(len(glob.glob('./Output_S3/*.csv'))):
    df_list[str("n"+str(i))] = pd.read_csv(files[i])

In [5]:
df_list.keys()

dict_keys(['n0', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'n16', 'n17', 'n18', 'n19', 'n20', 'n21', 'n22', 'n23', 'n24', 'n25', 'n26', 'n27', 'n28', 'n29', 'n30', 'n31', 'n32', 'n33', 'n34', 'n35', 'n36', 'n37', 'n38', 'n39', 'n40', 'n41', 'n42', 'n43', 'n44', 'n45', 'n46', 'n47'])

In [6]:
df_list['n0']

,path,features
0,s3a://s3-ds-p8/Training/carrot_1/r0_18.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,s3a://s3-ds-p8/Training/carrot_1/r0_38.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,s3a://s3-ds-p8/Training/carrot_1/r0_108.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,s3a://s3-ds-p8/Training/carrot_1/r0_76.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,s3a://s3-ds-p8/Training/carrot_1/r0_178.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5,s3a://s3-ds-p8/Training/carrot_1/r0_96.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
6,s3a://s3-ds-p8/Training/carrot_1/r0_156.jpg,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

# Describe feature number for each processed file in a summary table

In [7]:
def data_describe():
    '''From a list of df
       Converts Series to Array
       Count number of features.
       '''

    data_dict = {'Path':[],'Nb_Features':[]}
    for df in df_list.keys():
        
#         print("processing ",df,":")
        data = df_list[df]
        for i in range(data.shape[0]):
                data_dict["Path"].append(data.path[i])
                data_dict["Nb_Features"].append(len(json.loads(data.features[i])))

    table = pd.DataFrame.from_dict(data = data_dict, orient='columns')
    
# Set the row number to be able to see the complete list
    pd.set_option('display.max_rows', 314)
    
    print("SUMMARY DATAFRAMES…")
    return(table)

In [8]:
df_output = data_describe()

SUMMARY DATAFRAMES…

In [9]:
df_output

                                            Path  Nb_Features
0     s3a://s3-ds-p8/Training/carrot_1/r0_18.jpg        25088
1     s3a://s3-ds-p8/Training/carrot_1/r0_38.jpg        25088
2    s3a://s3-ds-p8/Training/carrot_1/r0_108.jpg        25088
3     s3a://s3-ds-p8/Training/carrot_1/r0_76.jpg        25088
4    s3a://s3-ds-p8/Training/carrot_1/r0_178.jpg        25088
..                                           ...          ...
415  s3a://s3-ds-p8/Validation/pear_1/r1_109.jpg        25088
416  s3a://s3-ds-p8/Validation/pear_1/r1_169.jpg        25088
417   s3a://s3-ds-p8/Validation/pear_1/r1_77.jpg        25088
418   s3a://s3-ds-p8/Validation/pear_1/r1_69.jpg        25088
419  s3a://s3-ds-p8/Validation/pear_1/r1_209.jpg        25088

[420 rows x 2 columns]

In a synthetic table, we verify that every row of the output dataframe has the same amount of features :

In [10]:
df_output.describe()

       Nb_Features
count        420.0
mean       25088.0
std            0.0
min        25088.0
25%        25088.0
50%        25088.0
75%        25088.0
max        25088.0

In [11]:
print(f"We can check in the table that both mean, min and max values are identical : \
{df_output.Nb_Features.mean():_.0f} for the field Nb_Features.")

We can check in the table that both mean, min and max values are identical : 25_088 for the field Nb_Features.